@use "../abstract/index" as *;

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap-big);
  align-items: center;

  @include bp-small {
    grid-template-columns: 1fr;
  }
}

.grid-3-cols {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: var(--grid-gap-sm);
}

.grid-4-cols {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: var(--grid-gap-sm);
}
