@use "../abstract/index" as *;

.services {
  padding: 12rem 0;
  &__service {
    @include boxSimilar;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__icon {
    fill: var(--color-secondary);
    width: 3rem;
    height: 3rem;
    padding: 1.2rem;
    background-color: var(--color-text-highlight);
    box-sizing: content-box;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
}
